header(class="navbar navbar-inverse navbar-fixed-top bs-docs-nav", id="top", role="banner")
  div(class="container")
    div(class="navbar-header")
      button(class="navbar-toggle", type="button", data-toggle="collapse", data-target=".navbar-collapse")
        span(class="sr-only") Toggle navigation
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
      a(href="/" class="navbar-brand") Homation3

    div(class="navbar-header collapse navbar-collapse", role="navigation")
      ul(class="nav navbar-nav")
        li #[a(href="/remotes") Remotes]
        li #[a(href="/users") Users]

    div(class="navbar-header navbar-right collapse navbar-collapse", role="navigation")
      a(href="/auth/google_oauth", class="btn navbar-btn btn-default", title="Sign in with Google")
        i(class="fa fa-google")
